
<div class="verification-page">
    <div class="otp-header">
        <div class="container">
            <div class="sub-group_t">
                <ng-container>
                    <img src="../../assets/images/confiramation.png" width="115px" height="99px"/>
                </ng-container>
            <div class="sub-group_t" style="gap:10px">
                <div class="header"><b style="font-size: 20px;">Congraulations</b></div>
                <div><b>You've taken your first Step</b></div>
                <div style="color: grey;font-size: 16px;"> It might take a while for your transactions to be visible</div>
            </div>
            <button type="submit" class="btn"><b>Continue</b></button>
            </div>
            </div>
    </div>